---
import Base from "../../layouts/base.astro";
import CodeEditor from "../../components/pages/code/editor"
---

<Base nav={false} footer={false} title="Pastebin | NoobScience">
    <div>
        <CodeEditor client:load/>
    </div>
</Base>