---
import Base from "../../layouts/base.astro";
import HomeNav from "../../components/navigation/home_nav";
import CodeEditor from "../../components/pages/code/editor"
---

<Base footer={false} title="Pastebin | NoobScience">
    <div>
        <CodeEditor client:load/>
    </div>
</Base>