---
import { getCollection } from 'astro:content';
import Base from '../../layouts/base.astro';
import Nav from '../../components/navigation/nav';
import UpdateArchive from '../../components/updates/archive';
import UpdateLatest from '../../components/updates/latest';

let posts = await getCollection('blog', ({ data }) => {
    return data.draft !== true;
});

posts = posts.sort(
    (a: any, b: any) =>
        new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Base title="Ishan Writes">
    <div>
        <Nav title="Mussing" client:load />
        <div class="p-4">
            <div>
                <h1 class="md:text-6xl text-3xl pt-2 pb-4 font-heading">
                    <span class="text-yellow-400">Ishan</span> Writes
                </h1>
                <p>
                    Welcome to my little blog on the internet, a very unique
                    phrase, I know. But stick around, I promise you'll find
                    something interesting. I write about my experiences, my
                    thoughts, and my opinions on various topics. I also write
                    about my projects and the things I'm working on. I recently
                    re imagined my whole blogging paradigm. Know more <a
                        href="/rethinking">here</a
                    >.
                </p>
            </div>
            <div class="md:pt-6 pt-4 md:py-4 py-2">
                <h2 class="md:text-3xl text-2xl font-heading">
                    Fresh off the 📰 or the <a
                        class="text-blue-500 dark:text-blue-300"
                        href="/archive">Archive</a
                    >
                </h2>
                <div class="grid md:grid-cols-2 grid-cols-1 gap-4">
                    {
                        posts.slice(0, 10).map((post: any) => {
                            return (
                                <article class="md:p-4 md:my-0.5 p-0.5 rounded-lg border-2 border-neutral-50 hover:border-neutral-300 dark:border-neutral-800">
                                    <a
                                        style="text-decoration: none;"
                                        href={'/blog/' + post.slug}
                                    >
                                        <header>
                                            <h2 class="md:text-2xl text-xl font-bold">
                                                {post.data.emoji}{' '}
                                                {post.data.title}
                                            </h2>
                                        </header>
                                        <section>
                                            <p class="text-lg pt-2 py-3">
                                                {post.data.description}
                                            </p>
                                            <p class="text-lg">
                                                Posted on{' '}
                                                <time
                                                    datetime={post.data.date.toDateString()}
                                                >
                                                    {new Date(
                                                        post.data.date
                                                    ).toDateString()}
                                                </time>
                                            </p>
                                        </section>
                                    </a>
                                </article>
                            );
                        })
                    }
                </div>
            </div>
            <span class="block w-2/5 bg-red-600 h-0.5 my-10"></span>
            <div id="quips" class="flex flex-col md:flex-row justify-center">
                <div class="md:w-2/5 w-full">
                    <h1
                        class="md:text-4xl text-3xl font-heading my-2 md:p-4 p-1"
                    >
                        Few Quips and Quotes
                    </h1>
                    <p class="md:p-4 p-1">
                        These are a few musings and so that I write almost
                        everyday. They are separate from my garden. You can
                        think of them as my journal.
                    </p>
                    <UpdateArchive num={6} client:idle />
                </div>
                <div class="hidden md:block md:w-3/5 w-full">
                    <UpdateLatest client:idle />
                </div>
                <div class="block md:hidden md:w-3/5 w-full">
                    <UpdateLatest slice_length={100} client:idle />
                </div>
            </div>
        </div>
    </div>
</Base>
<style>
    a {
        text-decoration: 1.2px solid underline;
    }
</style>
