---
import { getCollection } from 'astro:content';
import Base from '../../layouts/base.astro';
import HomeNav from '../../components/navigation/home_nav';
import UpdateArchive from '../../components/updates/archive';
import UpdateLatest from '../../components/updates/latest';

let posts = await getCollection('blog', ({ data }) => {
    return data.draft !== true;
});

posts = posts.sort(
    (a: any, b: any) =>
        new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);

let notes = posts.filter((post: any) => post.data.type == 'notes');
let long = posts.filter((post: any) => post.data.type == 'long');
let dev = posts.filter((post: any) => post.data.type == 'dev');
let others = posts.filter(
    (post: any) =>
        !notes.includes(post) && !long.includes(post) && !dev.includes(post)
);
---

<Base title='Ishan Writes | Mussings about Tech, Life and More'>
    <div>
        <h1></h1>
    </div>
</Base>