---
const {url} = Astro.props
---

<div class="md:pb-4">
    <span>
        Listen on Spotify (iframe embed)
    </span>
    <iframe src={"https://podcasters.spotify.com/pod/show/noobscience/embed/episodes/" + url} height="102px" width="400px" class="w-full h-auto py-2" frameborder="0" scrolling="no"></iframe>
</div>