---
import Base from "../layouts/base.astro";
import Nav from "../components/navigation/nav";

const url = Astro.url.pathname
---

<Base bg="#fde884" color="#000" selection_bg="#000" selection_color="#fff" footer={false} selection_only={false} title="404 Resource Not Found">
    <Nav bg="#fde884" color="#000" title={"Not Found " + url} client:load />
    <div class="flex flex-col md:flex-row">
        <div class="w-full md:w-1/2">
            <div style="margin-top: 4vw;" class="text-center mx-10 md:mx-0">
                <h1 class="md:text-6xl py-4 text-3xl font-bold">
                    Resource Not Found
                </h1>
                <p class="pt-8 text-xl">
                    Hey My Guy! The URL ({url}) you were looking for doesn't exist.
                </p>
                <p class="p-4 text-xl">
                    This site has a lot of resources, but this one isn't one of them.
                </p>
                <div>
                    <button class="btn text-3xl py-4 text-white px-8 bg-black">
                        <a href="/">
                            Go Home
                        </a>
                    </button>
                </div>
            </div>
            <div class="pt-8 text-center">
                <h1 class="text-3xl font-bold">
                    Atleast get inspired
                </h1>
                <blockquote class="px-10 py-5">
                    <p class="text-xl">
                        <span id="quote"></span>
                    </p>
                    <p class="text-xl">
                        <span class="text-gray-500">
                            - <span id="author"></span>
                        </span>
                    </p>
                </blockquote>
            </div>
        </div>
        <div class="w-full md:w-1/2">
            <>
                <img src="/assets/404.svg" class="w-full" alt="">
            </>
        </div>
    </div>
</>
<script>
    const quotes = await fetch("https://api.quotable.io/quotes/random?maxLength=300&minLength=100&limit=1")
    const quote = await quotes.json()
    //@ts-ignore
    document.querySelector("#quote").innerHTML = quote[0].content
    //@ts-ignore
    document.querySelector("#author").innerHTML = quote[0].author
</script>