---
import Base from "../layouts/base.astro";
import HomeNav from "../components/navigation/home_nav";
---

<Base title="Credits to the site | NoobScience" bg="#d7ffce" color="#000">
    <HomeNav bg="#d7ffce" color="#000" client:load />
    <div class="p-4">
        <h1 class="md:text-4xl text-3xl font-heading">
            Credits to the site
        </h1>
        <div class="py-4">
            <p>
                This site took me quite a significant time to get right. This site pretty much fixes all the issues I had with my
                previous sites and I am quite happy with the result. I have used a lot of open source projects and I would like to
                thank all the developers who have made these projects possible.
            </p>
        </div>
    </div>
</Base>