---
import Base from "../layouts/base.astro";
import HomeNav from "../components/navigation/home_nav";
import Notification from "../components/utils/notification/notification";

const options = [
    'is a Developer',
    'is a cool guy',
    'creates websites',
    'is making more projects',
]
---

<Base title="NoobScience Rocks Doesn't He?">
    <div>
        <HomeNav client:load />
        <div class="z-0 md:px-10 md:py-14 p-5">
            <div class="font-serif text-gray-900">
                <h1 class="md:text-7xl leading-snug text-4xl">
                    <a href="/about" class="font-bold text-black leading-snug md:text-8xl text-6xl cursor-help transform duration-500">Ishan</a> 
                        {' '}{options[Math.floor(Math.random() * options.length)]}
                </h1>
                <h1 class="md:py-10 md:text-6xl leading-snug text-4xl font-bold">
                    and you may know him as <span class="text-yellow-400 p-1">NoobScience</span>.
                </h1>
            </div>
            <div class="md:p-0 py-5">
                <p>
                    Mostly Codes and Drinks Coffee.
                </p>
                <p>
                    1st Student At GRIET.
                </p>
            </div>
            <div class="">
                <Notification client:load />
            </div>
        </div>
    </div>
</Base>
<style is:inline>
    #heading{
        line-height: 4rem;
    }
    p{
        font-size: 1.8rem;
        font-weight: 100;
        line-height: 3.2rem;
    }
    @media screen and (max-width: 768px){
        #heading{
            line-height: 3rem;
        }
        p{
            font-size: 1.5rem;
            font-weight: 100;
            line-height: 2.5rem;
        }
        
    }
</style>