---
import Base from "../layouts/base.astro";
import HomeNav from "../components/navigation/home_nav";
import Notification from "../components/utils/notification/notification";

const options = [
    'is a Developer',
    'is a cool guy',
    'creates websites',
    'is making more projects',
]
---

<Base title="NoobScience Rocks Doesn't He?">
    <div id="nav">
        <HomeNav client:load />
    </div>
    <div class="px-10 py-14">
        <div class="font-serif animate__animated animate__fadeInDown animate__slow text-gray-900">
            <h1 class="text-7xl">
                <a href="/about" class="font-bold text-black text-8xl cursor-help transform duration-500">Ishan</a> 
                    {' '}{options[Math.floor(Math.random() * options.length)]}
            </h1>
            <h1 class="py-10 text-6xl font-bold">
                and you may know him as <span class="text-yellow-400 p-1">NoobScience</span>.
            </h1>
        </div>
        <div class="animate__animated animate__fadeInUp animate__slower">
            <p>
                Mostly Codes and Drinks Coffee.
            </p>
            <p>
                1st Student At GRIET.
            </p>
        </div>
        <div class="animate__animated animate__fadeInUp animate__slower">
            <Notification client:load />
        </div>
    </div>
</Base>
<style is:inline>
    p{
        font-size: 1.8rem;
        font-weight: 100;
        line-height: 3.2rem;
    }
</style>