---
import Base from "../layouts/base.astro";
import HomeNav from "../components/navigation/home_nav";
import Detailed from "../components/utils/notification/detailed";
import UpdateLatest from "../components/updates/latest";
---

<Base title="Now | What's Up Right Now">
    <HomeNav client:load />
    <div class="md:p-6 p-3">
        <div class="">
            <h1 class="md:text-6xl text-4xl font-heading py-8">
                Happening <span class="text-green-500 underline decoration-8">Now</span>
            </h1>
            <p>
                This is my now page. This is more of a reliable source of what I'm up.
                You can get to know quite a bit about what's up in my life from this page.
                Based on the concept of <a href="https://nownownow.com/about">nownownow.com</a>.
                Although, some info might be obfuscated for privacy reasons.                
            </p>
            <h2 class="md:text-4xl text-2xl font-heading py-4">Latest Quip</h2>
            <p>
                Quips are an in depth look into my life. They are a bit more personal and I only write them ever so often.
            </p>
            <div>
                <UpdateLatest client:load />
            </div>
            <div>
                <Detailed client:load />
            </div>
        </div>
    </div>
</Base>