---
import Base from "../layouts/base.astro";
import Nav from "../components/navigation/nav";
---

<Base bg="#323639" color="#fff" selection_only={false}>
    <Nav bg="#323639" color="#fff" client:load />
    <div>
        <iframe src="/resume.pdf" class="w-full h-screen" frameborder="0"></iframe>
    </div>
</Base>