---
import Base from '../../layouts/base.astro';
import Update from "../../components/updates/update"
import HomeNav from '../../components/navigation/home_nav';

const {id} = Astro.params;
---

<Base title={id + "- Ishan's Quips"}>
    <HomeNav client:load />
    <div id="update">
        <Update hash={id} client:load />
    </div>
</Base>
<style is:inline>
    p{
        font-weight: 400;
        line-height: 2.8rem;
    }
    #update a{
        text-decoration: 2px underline currentColor;
    }

    @media screen and (max-width: 728px){
        p{
            line-height: 2rem;
        }
    }
</style>