---
import Base from '../../layouts/base.astro';
import Update from "../../components/updates/update"

const {id} = Astro.params;
---

<Base title={id + "- Ishan's Quips"} footer={false} bg='#212121' color='#fff' selection_bg='#b7b7b7' selection_color='#000'>
    <div id="update">
        <Update hash={id} client:load />
    </div>
</Base>
<style is:inline>
    #update{
        font-family: "Hubot Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    strong{
        font-weight: 700;
    }
    h2{
        font-size: 1.8rem;
        padding: 1rem 0;
        font-weight: 700;
    }
    .utterances{
        max-width: 80%;
    }
    h3{
        font-size: 1.5rem;
        font-weight: 600;
    }
    p{
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2.6rem;
    }
    li{
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2.6rem;
    }
    #update a{
        color: #1f59f9
    }

    @media screen and (max-width: 728px){
        p{
            line-height: 2rem;
        }
        .utterances{
            max-width: 100%;
        }
    }
</style>