---
import Base from '../../layouts/base.astro';
import UpdateArchiveGrid from '../../components/updates/archive_grid';
import UpdateLatest from '../../components/updates/latest';
import Nav from '../../components/navigation/nav';
---

<Base title="Ishan's Quips Archive">
    <Nav client:load />
    <div class="p-4">
        <h1 class="text-6xl font-heading py-5">Ishan's Quips Archive</h1>
        <p class="text-gray-500">
            Here is an archive of all my quips. I write about a lot of things, but mostly about tech, productivity, and
            life. I hope you enjoy reading them as much as I enjoy writing them.
        </p>
        <div class="mt-8">
            <h2 class="text-4xl font-heading pb-5">Few of my latest updates</h2>
            <UpdateArchiveGrid num={100} client:load />
        </div>
    </div>
</Base>
