---
import Base from '../../layouts/base.astro';
import UpdateArchiveGrid from '../../components/updates/archive_grid';
import UpdateLatest from '../../components/updates/latest';
import HomeNav from '../../components/navigation/home_nav';
---

<Base title="Ishan's Quips Archive">
    <div class="px-4">
        <h1 class="text-2xl font-bold font-heading py-2">Ishan's Quips Archive</h1>
        <p >
            Here is an archive of all my quips. I write about a lot of things, but mostly about tech, productivity, and
            life. I hope you enjoy reading them as much as I enjoy writing them.
        </p>
        <div class="mt-4">
            <h2 class="text-xl font-heading pb-2">My Updates
            </h2>
            <UpdateArchiveGrid view={false} num={100} client:load />
        </div>
    </div>
</Base>
