---
import Base from '../../layouts/base.astro';
import UpdateArchiveGrid from '../../components/updates/archive_grid';
import UpdateLatest from '../../components/updates/latest';
import Nav from '../../components/navigation/nav';
---

<Base title="Ishan's Quips">
    <Nav client:load />
    <div class="p-4">
        <h1 class="text-6xl font-heading py-5">Ishan's Quips</h1>
        <p>
            Small updates about my life, projects, and more.
            Updated every few days and are not a part of my garden.
        </p>
        <div class="mt-8">
            <UpdateLatest client:idle />
            <h2 class="text-4xl font-heading pb-5">
                Few of my latest updates
            </h2>
            <UpdateArchiveGrid num={20} client:load />
        </div>
    </div>
</Base>
