---
import Base from '../../layouts/base.astro';
import UpdateArchiveGrid from '../../components/updates/archive_grid';
import UpdateLatest from '../../components/updates/latest';
---

<Base title="Ishan's Quips">
    <div class="px-4">
        <h1 class="text-2xl font-bold font-heading pb-2">Ishan's Quips</h1>
        <p>
            Small updates about my life, projects, and more.
            Updated every few days and are not a part of my garden.
        </p>
        <div class="mt-1">
            <UpdateLatest client:idle />
            <h2 class="text-xl font-heading pb-2">
                Few of my latest updates
            </h2>
            <UpdateArchiveGrid num={20} client:load />
        </div>
    </div>
</Base>
