---
import Base from '../../layouts/base.astro';
import UpdateLatest from '../../components/updates/latest';
import Nav from '../../components/navigation/nav';

const { id } = Astro.params;
---

<Base title={id + "- Ishan's Quips"} bg="#212121" color="#fff">
    <Nav title="Quips" client:load bg="#212121" color="#fff" />
    <div id="update">
        <UpdateLatest client:load />
    </div>
    <div>
        <h1 class="text-2xl text-center font-bold">Tell me what you think!</h1>
        <script
            src="https://utteranc.es/client.js"
            repo="newtoallofthis123/comments"
            issue-term="pathname"
            label="comment"
            theme="preferred-color-scheme"
            crossorigin="anonymous"
            async
        ></script>
    </div>
</Base>
<style is:inline>
    h2 {
        font-size: 1.8rem;
        padding: 1rem 0;
        font-weight: 700;
    }
    .utterances {
        max-width: 80%;
    }
    h3 {
        font-size: 1.5rem;
        font-weight: 600;
    }
    p {
        font-weight: 400;
        line-height: 2.8rem;
    }
    #update a {
        color: #1f59f9;
    }

    @media screen and (max-width: 728px) {
        p {
            line-height: 2rem;
        }
        .utterances {
            max-width: 100%;
        }
    }
</style>
