<div>
    <h1 class="text-4xl text-center p-5 font-bold">
        This is the API Endpoint
    </h1>
    <p class="text-center text-lg">
        If you come across it, hi! I use this api end point to fetch data from 
        MonoDB Atlas. I use this data to populate the front end of this website.
        Please don't abuse it.
    </p>
    <div class="flex flex-col items-center justify-center p-10">
        <img src="/logo192.png" alt="Banner">
    </div>
</div>