---
import Base from "../../layouts/base.astro";
import Search from "../../components/search/search"
import HomeNav from "../../components/navigation/home_nav";
---

<Base title="Search">
    <HomeNav client:load />
    <div>
        <h1 class="text-4xl text-center font-heading py-4">
            Search Ishan Writes
        </h1>
        <p class="text-center px-2">
            Simple search for my blog posts. Search Titles, Tags, Categories, Content, anything you want.
        </p>
        <Search term="" client:load />
    </div>
</Base>