---
import Base from "../../layouts/base.astro";
import Search from "../../components/search/search"
import Nav from "../../components/navigation/nav";
---

<Base footer={false} title="Search">
    <Nav client:load />
    <div>
        <h1 class="text-4xl text-center font-heading py-4">
            Search Ishan Writes
        </h1>
        <p class="text-center px-2">
            Search for anything using anything, from tags to titles to content.
        </p>
        <Search term="" client:load />
    </div>
</Base>