---
export interface Props {
    title?: string;
    color?: string;
    bg?: string;
    selection_only?: boolean;
    img?: string;
    description?: string;
    selection_color?: string;
    selection_bg?: string;
}
const {title, img="/assets/banner.png", description, color, bg, selection_only=true, selection_color="#fff", selection_bg="#2500ff"} = Astro.props
import "../base.css"
import '../components/styles/nav.scss';
import "bootstrap-icons/font/bootstrap-icons.css";
import '@fontsource/atkinson-hyperlegible';
import '@fontsource-variable/inter';
import '@fontsource-variable/josefin-sans';
import '@fontsource/libre-baskerville';
import '@fontsource/archivo-black';
import '@fontsource-variable/fira-code';

const BASE_URL = "https://" + Astro.url.host
---

<html lang="en">
    <title>
        {
            title || "NoobScience | Student and Open Source Enthusiast."
        }
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="index, follow, archive" />
    <link rel="sitemap" href="/sitemap-index.xml">
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/dracula.css">
    <meta name="theme-color" content="#ffd845" />
    <meta name="title" content="NoobScience" />
    <meta
        name="description"
        content={description || "Hi! I am Ishan. I am a Student and Open Source Enthusiast. This is my personal portfolio website. I Like to Code Stuff. Check out my work!"}
    />
    <meta name="title" content={title || "NoobScience"} />
    <meta
        name="keywords"
        content="noobscience, noob science, NoobScience, newtoallofthis123, technology, website"
    />
    <meta name="author" content="NoobScience" />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={BASE_URL} />
    <meta property="twitter:title" content="NoobScience" />
    <meta
        property="twitter:description"
        content={description || "Student and Open Source Enthusiast. I Like to Code Stuff. Check out my work!"}
    />
    <meta
        property="twitter:image"
        content={ BASE_URL+ img}
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={BASE_URL} />
    <meta property="og:title" content={title || "NoobScience"} />
    <meta
        property="og:description"
        content={description || "Student and Open Source Enthusiast. I Like to Code Stuff. Check out my work!"}
    />
    <meta
        property="og:image"
        content={BASE_URL + img}
    />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="canonical" href="https://noobscience.rocks" />
    <link rel="manifest" href="/manifest.json" />
    <link rel="mask-icon" href="/favicon.ico" color="#0f0f28" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3530337728124227"
     crossorigin="anonymous"></script>
     <body>
        <div class={
        !selection_only ? "colored" : ""
     } id="content">
            <slot />
            <footer id="content" class="py-5 text-center border-t-2 border-current">
                <div class="flex flex-row justify-center items-center">
                    <img src="/logo192.webp" class="pr-1 w-8" width="32" alt="">
                    <p class="font-bold text-xl">
                        NoobScience &copy {new Date().getFullYear()}
                    </p>
                </div>
                <p class="text-lg pt-1 text-ellipsis">
                    Site Built using Astro. See <a href="/credits">/credits</a> for more info.
                </p>
            </footer>
        </div>
    </body>
    <style is:global define:vars={{
        bg: bg || "#170dd3",
        color: color || "#fff",
        selection_bg: selection_bg || "#2500ff",
        selection_color: selection_color || "#fff",
    }}>
        html{
            scroll-behavior: smooth;
        }
        .colored{
            color: var(--color);
            background: var(--bg);
        }
        .colored ::selection {
            background: var(--selection_bg);
            color: var(--selection_color);
        }
        .colored ::-moz-selection {
            background: var(--selection_bg);
            color: var(--selection_color);
        }
        ::selection {
            background: var(--bg);
            color: var(--color);
        }
        ::-moz-selection {
            background: var(--bg);
            color: var(--color);
        }
        #home_nav ::selection {
            background: #2500ff;
            color: #fff;
        }
        #home_nav ::-moz-selection {
            background: #2500ff;
            color: #fff;
        }
        body{
            font-family: "Josefin Sans Variable", sans-serif;
        }
        #p-heading{
            font-weight: 400;
        }
        p, li{
            font-size: 1.5rem;
            font-weight: 300;
            line-height: 2.8rem;
        }
        @media (max-width: 768px){
            p, li{
                font-size: 1.2rem;
                line-height: 2.4rem;
            }
        }
    </style>
</html>
