---
import Base from "./base.astro";
const {frontmatter} = Astro.props;
---

<Base title={frontmatter.title} nav_title={frontmatter.title}>
    <div class="md:px-2" id="md">
        <slot />
    </div>
</Base>
<style is:inline>
    footer a{
        text-decoration: none;
    }
    html{
            scroll-behavior: smooth;
        }
    #p-heading{
        font-weight: 400;
    }
    p {
        font-size: 1rem;
        font-weight: 400;
        padding-bottom: 1rem;
        line-height: 1.9;
    }
    #md a {
        font-weight: 700;
    }

    #md a:hover {
        color: #2418fc;
    }

    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        line-height: 1.5;
    }

    h1 {
        font-size: 2.4rem;
        padding: 1rem 0;
    }

    h2 {
        font-size: 1.4rem;
        line-height: 2rem;
        padding: 0.5rem 0;
    }
    h3 {
        font-size: 1.2rem;
        line-height: 2.4rem;
        padding: 0.2rem 0;
        padding-top: 0.8rem;
    }
    p code {
        font-family: 'Fira Code Variable', monospace;
        font-size: 1.2rem;
        line-height: 2.5rem;
        color: #ee1ccb;
        background-color: inherit;
        padding: 0.25rem;
        border-radius: 0.25rem;
    }

    li code {
        font-family: 'Fira Code Variable', monospace;
        font-size: 1rem;
        line-height: 2.5rem;
        color: #ee1ccb;
        background-color: inherit;
        padding: 0.25rem;
        border-radius: 0.25rem;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin: 1rem 0;
    }

    table td,
    table th {
        border: 1px solid #ddd;
        text-align: center;
        padding: 0.5rem;
    }

    table .math svg {
        font-size: 1rem;
    }

    table tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    strong {
        font-weight: 700;
    }
    #credits {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
            Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
            sans-serif;
        text-align: center;
        font-size: 0.8rem;
    }

    pre {
        font-family: 'Fira Code Variable', monospace;
        font-size: 1rem;
        line-height: 2rem;
        padding: 1rem;
        margin: 0.5rem 0;
        border: 2px solid #eaeaea;
        border-radius: 0.5rem;
    }
    .astro-code {
        white-space: pre !important;
    }

    small {
        font-family: 'Fira Code Variable', 'Courier New', Courier, monospace;
        font-size: 0.8rem;
    }

    ul {
        padding: 0 1rem;
        list-style: initial;
    }

    ol {
        padding: 0 1rem;
        list-style: decimal;
    }

    blockquote {
        padding: 0 1rem;
        border-left: 0.2rem solid currentColor;
        margin: 0.5rem 0;
    }

    li {
        padding: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2;
    }

    @media screen and (max-width: 768px) {
         h1 {
            font-size: 3rem;
            line-height: 3.5rem;
        }
         h2 {
            font-size: 2rem;
            line-height: 2rem;
            padding: 0.5rem 0;
        }
         p {
            font-size: 1rem;
            line-height: 2rem;
        }
         code {
            font-size: 1rem;
            line-height: 2rem;
        }
         ol,
        ul {
            padding: 0.5rem 1rem;
        }
         li {
            font-size: 1rem;
            line-height: 2.6rem;
        }
    }
    .math {
        margin: 1rem 0;
    }
    .math svg {
        margin: 0;
        padding: 0;
        line-height: 0;
        font-size: 1.3rem;
        display: inline;
    }
</style>
