---
import Base from './base.astro';
const { frontmatter } = Astro.props;
---

<Base
    color="#000"
    bg="#fff"
    selection_color="#fff"
    selection_bg="#000"
    footer={false}
>
    <main class="flex flex-col items-center justify-center md:p-5" id="main">
        <div class="md:w-3/5 w-full border-gray-600 rounded-lg md:border-2 p-5 md:px-10 md:pt-10 md:pb-5">
            {frontmatter.title && <h1 class="text-4xl font-bold py-3">{frontmatter.title}</h1>}
            <slot />
            <footer class="text-center pt-5">
                &copy NoobScience {new Date().getFullYear()}
            </footer>
        </div>
    </main>
</Base>
<style is:inline>
    p,li{
        font-size: 1rem;
        line-height: 2;
        color: #1e1e1e;
    }
    h2{
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 1.5;
        color: #0e0d0d;
        padding-top: 0.8rem;
        padding-bottom: 0.1rem;
    }
    h3{
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 1.5;
        color: #0e0d0d;
        padding-top: 0.5rem;
    }
    ul{
        padding-left: 1.5rem;
        list-style: disc;
    }
    ol{
        padding-left: 1.2rem;
        list-style: decimal;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }
    a{
        padding: 2px;
        text-decoration: 2px underline #808080;
        transition-duration: 0.7s;
        transition-delay: 0.1s;
    }
    a:hover{
        text-decoration: none;
        background-color: #000000;
        color: #fefefe;
    }
</style>